$width: 60px;
$height: 60px;

.footerContainer {
   position: absolute;
    display: flex;
    justify-content: center;
   
    right:0;
    bottom: calc(($height / 2) * -1);
    margin-right: calc((540px - 3.5rem) /2);
    
    
    
    .btn {
        width: $width;
        height: $height;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;  
        cursor: pointer;
        border-radius: 50%;
        background-color: var(--Neon-Green);
    }
}