$width: 60px;
$height: 60px;

.footerContainer {
   position: absolute;
    display: flex;
    justify-content: center;
    background-color: var(--Neon-Green);
    border-radius: 50px;
    right:0;
    
    .teste {
        
        width: $width;
        height: $height;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}