@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;   
}

:root {
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Blue: hsl(218, 23%, 16%);
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Dark-Grayish-Blue: hsl(218, 20%, 24%);
}

body {
    background-color: #202632;
    
}